#gameCanvas {
	border:2px solid #000;
	width:535px;
	height:295px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-147px 0 0 -269px;
	background:#111;
	background-size:cover;
	color:#99ccff;
	position:relative;
	overflow:hidden;
	font-family:Impact;
}

#score {
	position:absolute;
	top:0;
	right:5px;
	z-index:1;
}

.tile {
	width:5px;
	height:5px;
	position:absolute;
	z-index:10;
}

.snake {
	background:rgb(204, 0, 153);
	z-index:20;
}

.gem {
	background:rgb(204, 0, 153);
}

#message {
	position:absolute;
	left:50%;
	top:50%;
	width:300px;
	height:150px;
	margin:-80px 0 0 -155px;
	z-index:100;
	text-align:center;
	background:#4395E1;
	color:#99ccff;
	border-radius:15px;
	border:5px solid;
}

#message.close {
	display:none;
}

#message.game_over {
	background:#663399;
	color:#cc0099;
}